build/
dist/
scikick.egg-info/
.eggs/
__pycache__/
.snakemake
.DS_Store

# output files from tests and docs
report
*RDS

.ipynb_checkpoints
.idea
.vscode
*.pyc
*.html
*.simg
*.swp
*.swo
*~
_build
_static
_templates
.Rproj.user
