#TOC {
position: fixed;
left: 0%;
top: 60px;
width: 290px;
height: 100%;
overflow:auto;
color: #a6a6a6;
}

body {
  margin: auto;
  margin-left:290px;
}

div#TOC a{
    color: #a6a6a6;
}

@media (max-width: 767px) {
   #TOC {
      position: static;
      width: 100%;
   }

   body {
     margin-left:0px;
   }
}
